.layout-container {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* .sidebar {
  flex: 0 0 20%; 
  height: 100%;
} */

.main-content {
  flex: 1;
  height: 100%;
  overflow: hidden;

}
