<div class="sidebar" [class.collapsed]="isCollapsed">
  <!-- Logo & Brand -->
     <!-- <button class="btn-toggle" (click)="toggleSidebar()" title="Toggle Sidebar">
    <span class="toggle-icon">{{ isCollapsed ? '☰' : '→' }}</span>
  </button> -->
  <button class="btn-toggle" (click)="toggleSidebar()" title="Toggle Sidebar">
  <i class="material-icons toggle-icon">
    {{ isCollapsed ? 'menu' : 'chevron_right' }}
  </i>
</button>
  <div class="sidebar-header">
<a [routerLink]="['/dashboard']" routerLinkActive="active" class="dashboard-link">
  <h4 class="dashboard-title" [class.hidden]="isCollapsed">لوحة التحكم</h4>
</a>
</div>
  <!-- Navigation Menu -->
  <nav class="sidebar-nav">

    <a routerLink="services"
       routerLinkActive="active"
       class="nav-item"
       title="Services Management">
      <span class="nav-icon"><img src="settingIcon.svg" width="30" height="30"/></span>
      <span class="nav-text">الخدمات</span>
      <span class="nav-indicator"></span>
    </a>

    <a routerLink="tradespeople"
       routerLinkActive="active"
       class="nav-item"
       title="Tradespeople Management">
      <span class="nav-icon"><img src="factor.png" width="30" height="30"/></span>
      <span class="nav-text">الفنيين</span>
      <span class="nav-indicator"></span>
    </a>

    <a routerLink="clients"
       routerLinkActive="active"
       class="nav-item"
       title="Clients Management">
      <span class="nav-icon"><img src="clients.png" width="30" height="30"/></span>
      <span class="nav-text">العملاء</span>
      <span class="nav-indicator"></span>
    </a>

    <a routerLink="orders"
       routerLinkActive="active"
       class="nav-item"
       title="Orders Management">
      <span class="nav-icon"><img src="order.png" width="30" height="30"/></span>
      <span class="nav-text">الطلبات</span>
      <span class="nav-indicator"></span>
    </a>
  </nav>

  <!-- Sidebar Footer -->
  <!-- <div class="sidebar-footer">

    <div class="user-info">
      <div class="user-avatar">
        <span><img src="admin.png" width="30" height="30"/></span>
      </div>
      <div class="user-details">
        <h5>Admin</h5>
      </div>
    </div>


  </div> -->

 <!-- <button class="btn-open-sidebar" *ngIf="isCollapsed" (click)="toggleSidebar()" title="Open Sidebar">
    <span class="open-icon">☰</span>
  </button> -->

</div>
