<div class="sidebar bg-light text-dark h-100 p-3">
      <h4>Dashboard </h4>
      <nav class="nav flex-column">
 <a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{ exact: true }" class="nav-link text-dark">Main</a>
        <a routerLink="/orders" routerLinkActive="active" class="nav-link text-dark">Orders</a>
 <a routerLink="/clients" routerLinkActive="active" class="nav-link text-dark">Clients</a>
        <a routerLink="/services" routerLinkActive="active" class="nav-link text-dark">Services</a>
        <a routerLink="/tradespeople" routerLinkActive="active" class="nav-link text-dark">Tradespeople</a>
      </nav>
    </div>
